# System files
.DS_Store

# Build directories
.dist/
.build/

# Files created during local development
.dev/

# Generated glyphs
assets/icons/glyph/
assets/image/grid/muxlaunch/
assets/image/grid/header/
assets/1024x768/image/grid/muxlaunch/
assets/1024x768/image/grid/header/
assets/1024x768/image/grid/footer/
assets/1024x768/glyph/

# Application glyph
!assets/icons/glyph/muxapp/aesthetic.png
